<div class="row justify-content-center my-8">
    <nav aria-label="Page navigation">
        <ul class="pagination">
            {% if pagination.prev %}
                <li class="page-item">
                    <a class="page-link" href="{{ pagination.prev.link }}" aria-label="Previous">
                        <span aria-hidden="true" class="far fa-arrow-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
            {% endif %}

            {% for page in pagination.pages %}
                {% if page.link %}
                    <li class="page-item {{ page.class }}">
                        <a href="{{ page.link }}" class="{{ page.class }} page-link">{{ page.title }}</a>
                    </li>

                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">{{ page.title }}</span>
                    </li>
                {% endif %}
            {% endfor %}

            {% if pagination.next %}
                <li class="page-item">
                    <a class="page-link" href="{{ pagination.next.link }}" aria-label="Next">
                        <span aria-hidden="true" class="far fa-arrow-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>