{% block password_form %}

    <div class="container my-12">
        <div class="row">
            <div class="col-12">
                <div class="w-100 alert alert-danger">
                    {{ __('Password protected content', text_domain) }}
                </div>

                <form class="password-form" action="{{ site.url }}/wp-login.php?action=postpass" method="post">
                    <input class="form-control mb-4 password-box" name="post_password" id="pwbox-{{post.ID}}" type="password" placeholder="{{ __('Password', text_domain) }}" size="20" maxlength="30" />
                    <input class="btn btn-primary" type="submit" name="Submit" value="{{ __('Submit', text_domain) }}" />
                </form>
            </div>
        </div>
    </div>

{% endblock %}